In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from utils import highlight_rows, remove_T_from_positions, get_inside_cut, teams_dict, team_color,fix_names, plus_prefix, get_inside_cut_weekend, highlight_rows_team_short

pd.set_option('display.max_columns', None)

In [2]:
matchups = {                                    # enter weekly matchups here
    'unit_circle':1,
    'Putt Pirates':2,
    'AlphaWired':3,
    'txmoonshine':2,
    'Sneads Foot':1,
    'New Team 4':4,
    'Team Gamble':4,
    'Philly919':3
}

In [3]:
## live scoring feed

file = "https://feeds.datagolf.com/preds/live-tournament-stats?stats=sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_bs,sg_total,distance,accuracy,gir,prox_fw,prox_rgh,scrambling&round=event_avg&display=value&file_format=csv&key=e297e933c3ad47d71ec1626c299e"

live = round(pd.read_csv(file),2).rename(columns={'player_name':'player'})
live = live.set_index(fix_names(live))
# live[-20:]

In [4]:
## fantrax rosters

fx = r"C:\Users\mikej\Desktop\fantrax_golf\fantrax.csv"

teams = pd.read_csv(fx ,usecols=['Player','Status','Roster Status'])
teams.columns = ['player','team','active_reserve']
teams['team_short'] = teams['team']
teams['team'] = teams.team.map(teams_dict)
teams = teams.loc[teams.active_reserve=='Active'].set_index('player')
# teams

In [5]:
## DATAFRAME WITH ALL INFO FOR BOTH PHR TABLE AND LIVE LEADERBOARD

live_merged = pd.merge(teams, live, how='left', left_index=True, right_index=True)[['team','team_short','position','total','round','thru']].fillna(0).sort_values('total')
live_merged = live_merged[live_merged.index != 0].reset_index()
live_merged[['total','round', 'thru']] = live_merged[['total','round', 'thru']].astype(int)
live_merged['matchup_num'] = live_merged.team.map(matchups)

live_merged['holes_remaining'] = (36 - (live_merged['thru']).fillna(0)).astype(int)
live_merged['holes_remaining'] = np.where(live_merged['position']=='CUT',0,live_merged['holes_remaining']).astype('int')
live_merged['holes_remaining'] = np.where(live_merged['position']=='WD',0,live_merged['holes_remaining']).astype('int')

live_merged.head()

,player,team,team_short,position,total,round,thru,matchup_num,holes_remaining
0,Akshay Bhatia,New Team 4,NT 4,1,-12,-1,10,4,26
1,Brendon Todd,txmoonshine,txms,T2,-8,-2,10,2,26
2,Denny McCarthy,unit_circle,u_c,T2,-8,-2,11,1,25
3,Ludvig Aberg,New Team 4,NT 4,T4,-6,-5,18,4,18
4,Hideki Matsuyama,unit_circle,u_c,T4,-6,-5,17,1,19

In [ ]:
def get_inside_cut_weekend(live_merged):

    df_ = live_merged[(live_merged.position != 'WAITING') & (live_merged.position != 'CUT')]
    s_ = df_.groupby('team_short')['player'].count()
    inside_cut_weekend_dict = dict(s_)

    return dict(inside_cut_weekend_dict)

In [ ]:
# Make team leaderboard
team_leaderboard = (live_merged[['team', 'team_short', 'total', 'holes_remaining', 'matchup_num']]
                    .groupby(['team', 'team_short'])
                    .agg({'total': 'sum', 'holes_remaining': 'sum'})
                    .convert_dtypes()
                    .sort_values('total')
                    .reset_index()
                    .astype({'team': str, 'team_short': str})
                   )

team_leaderboard['inside_cut'] = team_leaderboard['team_short'].map(get_inside_cut_weekend(live_merged))
team_leaderboard['total'] = team_leaderboard['total'].apply(plus_prefix)
team_leaderboard['total'] = team_leaderboard['total'].replace('0', 'E').astype(str)
team_leaderboard_bar_df = team_leaderboard.copy()

team_leaderboard.drop(columns='team',inplace=True)
team_leaderboard.rename(columns={'team_short':'team'},inplace=True)
team_leaderboard.columns = ['Team','Total','PHR','Inside Cut']
team_leaderboard.style.apply(highlight_rows_team_short,axis=1)#, column_config={'Team':None})

In [ ]:
# TEAM LEADERBOARD


team_leaderboard = live_merged[['team','team_short','total','holes_remaining','matchup_num']]

team_leaderboard = (
    team_leaderboard#.sort_values('total',ascending=True)
    .groupby(['team','team_short'])
    [['total','holes_remaining','matchup_num']]
    .agg(
        {
            'total':'sum',
            'holes_remaining':'sum',
            'matchup_num':'mean'
        }
    ).convert_dtypes()
)

team_leaderboard = team_leaderboard.sort_values('total').reset_index()
team_leaderboard['team'] = team_leaderboard['team'].astype(str)
team_leaderboard['team_short'] = team_leaderboard['team_short'].astype(str)

team_leaderboard['inside_cut'] = team_leaderboard['team'].map(get_inside_cut(live_merged))

team_leaderboard['total'] = np.where(team_leaderboard['total'] == 0, "E", team_leaderboard['total']).astype(str)

# team_leaderboard.drop(columns='team',inplace=True)

team_leaderboard.columns = ['Team','Team Short','Total','PHR','Matchup','Inside Cut']

team_leaderboard.style.apply(highlight_rows,axis=1)#, column_config={'Team':None})

In [ ]:
#1 LIVE LEADERBOARD
player_leaderboard = live_merged[['player', 'position', 'total', 'round', 'thru','team','matchup_num']].fillna(0)

player_leaderboard['total'] = np.where(player_leaderboard['total'] == 0, "E", player_leaderboard['total']).astype(str)
player_leaderboard['round'] = np.where(player_leaderboard['round'] == 0, "E", player_leaderboard['round']).astype(str)
player_leaderboard['position'] = np.where(player_leaderboard['position'] == "WAITING", "-", player_leaderboard['position'])
player_leaderboard['thru'] = np.where(player_leaderboard['thru'] == 0, "-", player_leaderboard['thru']).astype(str)

player_leaderboard.columns = ['Player','Pos','Total','Rd','Thru','Team','matchup_num']

# matchup_num = [1,2,3,4]
# player_leaderboard[player_leaderboard.matchup_num.isin(matchup_num)]

player_leaderboard.style.apply(highlight_rows,axis=1)

In [ ]:
sorted(np.array(live_merged['matchup_num'].unique()))

In [ ]:
live_merged_strokes_gained = (pd.merge(teams,live,how='left',left_index=True,right_index=True).drop(columns='player').reset_index())
live_merged_strokes_gained.groupby('team',as_index=False)[['sg_putt','sg_arg','sg_app','sg_t2g']].sum().reset_index(drop=True)

In [ ]:
live_merged_strokes_gained = (pd.merge(teams,live,how='left',left_index=True,right_index=True).drop(columns='player').reset_index())
live_merged_strokes_gained = live_merged_strokes_gained.groupby('team',as_index=False)[['sg_putt','sg_arg','sg_app','sg_t2g']].sum().reset_index(drop=True)

live_merged_strokes_gained.columns = ['Team','SG Putt','SG Arg','SG App','SG T2G']
live_merged_strokes_gained = live_merged_strokes_gained.style.background_gradient(cmap='Greens').format(precision=2)
live_merged_strokes_gained

In [ ]:
live_phr = live_merged.groupby('team')[['holes_remaining']].sum().reset_index().rename(columns={'team':'Team','holes_remaining':'PHR','total':'To Par'})
live_phr.style.apply(highlight_rows, axis=1)

In [ ]:
# Team Score bar

thru_cut_df = live_leaderboard.groupby('team')['total'].sum().sort_values()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                     template='presentation',
                     labels={'value':'','team':''},
                     text_auto=True,
#                      height=250,
                     title='Team Score to Par')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

thru_cut_bar.show()

In [ ]:
def remove_T_from_positions(dataframe):
    """
    Remove 'T' from positions in a given column of a DataFrame.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        column_name (str): Name of the column containing positions.

    Returns:
        pandas.DataFrame: DataFrame with 'T' removed from positions in the specified column.
    """
    dataframe['position'] = dataframe['position'].str.replace('T', '')
    return dataframe

def get_inside_cut(dataframe):
    """
    Filter DataFrame based on position threshold and group by team.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        position_threshold (str): Threshold position for filtering.

    Returns:
        pandas.DataFrame: DataFrame with filtered data grouped by team.
    """
    filtered_data = dataframe[(dataframe['player'] != 0) & (dataframe['position'] != "WAITING")]
    filtered_data = remove_T_from_positions(filtered_data)
    inside_cut_df = filtered_data[filtered_data['position'] < "66"].groupby('team', as_index=False)['player'].count()
    inside_cut_df = inside_cut_df.sort_values(by='player', ascending=False).reset_index(drop=True)
    return inside_cut_df

# Example usage:
# inside_cut_df = get_inside_cut(live_merged)
# inside_cut_df

In [ ]:
live_merged = live_merged[(live_merged['player'] != 0) & (live_merged['position'] != "WAITING")]
live_merged = remove_T_from_positions(live_merged)
live_merged['position'] = live_merged['position'].astype('int')
# inside_cut_df = live_merged[live_merged['position'] < 66]#.groupby('team', as_index=False)['player'].count()
# # inside_cut_df = inside_cut_df.sort_values(by='player', ascending=False).reset_index(drop=True)
# inside_cut_df#.info()

In [ ]:
inside_cut_df = pd.DataFrame(live_merged[live_merged['position'] < 66].team.value_counts()).reset_index()
inside_cut_df.columns = ['team','inside_cut']
inside_cut_df

In [ ]:
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.player != 0) & (live_leaderboard.position != "WAITING")]
filtered_live_leaderboard['position'] = filtered_live_leaderboard['position'].str.replace('T', '')
inside_cut_df = filtered_live_leaderboard[filtered_live_leaderboard.position < "66"].groupby('team',as_index=False)['player'].count()
inside_cut_df = inside_cut_df.sort_values(by = 'player',ascending=False).reset_index(drop=True)
inside_cut_df

In [ ]:
team_color={
                "Philly919": 'rgb(127,60,141)',
                "unit_cirle": 'rgb(17,165,121)',
                "AlphaWired": 'rgb(57,105,172)',
                "Sneads Foot": 'rgb(242,183,1)',
                "New Team 4": 'rgb(231,63,116)',
                "Team Gamble": 'rgb(230,131,16)',
                "txmoonshine": 'rgb(0,134,139)',
                "Putt Pirates": 'rgb(165,170,153)'}

In [ ]:
inside_cut_bar = px.bar(
    inside_cut_df,
    x='team',
    y='player',
    text_auto=True,
    template='plotly_dark',
    color='team',
    color_discrete_map=team_color,
    labels = {'player':'','team':''},
    title = 'Players Currently Inside Cutline',
    height = 250,
    log_y=True
).update_xaxes(showticklabels=False,showgrid=False
).update_yaxes(showticklabels=False,showgrid=False
).update_layout(showlegend=False, title_x = .5)

inside_cut_bar

In [ ]:
# def current_cut_in_out():
# live_leaderboard['current_place'] = live_leaderboard.position.str.split("T",expand=True)[1]
# live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]#.position.str.split("T",expand=True)
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]

position_column = list(filtered_live_leaderboard.position)

filtered_live_leaderboard.apply(position = [pos.replace('T', '') for pos in position_column])

In [ ]:
# Thru Cut Bar

thru_cut_df = live_leaderboard[live_leaderboard.position!='CUT']['team'].value_counts()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                 template='presentation',
                 labels={'value':'','index':''},
                 text_auto=True,
                 height=250,
                 log_y=True,
                 title='Players Thru the Cut')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

In [ ]:
print(f"unit_circle has {live_merged[live_merged.team=='unit_circle']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='unit_circle'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Philly919 has {live_merged[live_merged.team=='Philly919']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Philly919'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Team Gamble has {live_merged[live_merged.team=='Team Gamble']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Team Gamble'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"New Team 4 has {live_merged[live_merged.team=='New Team 4']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='New Team 4'].drop(columns=['holes_remaining','team'])

In [ ]:
unit_circle = teams.loc[(teams.team=='unit_circle') & (teams.active_reserve=='Active')].index

live['thru_hp'] = live['thru'] + 18

# live[live.player.isin([unit_circle])]#[['player','total','round','thru','thru_hp']].reset_index(drop=True)

In [ ]:
def get_active_rosters(teams):
    active_rosters = []
    
    for team in teams.team.unique():
        one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
        active_rosters.append(one_roster)
        
    cols = teams.team.unique()
    active_rosters = pd.DataFrame(active_rosters, index=cols).T
    return active_rosters

In [ ]:
get_active_rosters(teams)

In [ ]:
active_rosters = []

for team in teams.team.unique():
    one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
    active_rosters.append(one_roster)

cols = teams.team.unique()
active_rosters = pd.DataFrame(active_rosters, index=cols).T
active_rosters