In [9]:
import pandas as pd
import numpy as np
import plotly.express as px

pd.set_option('display.max_columns', None)

In [10]:
## fantrax rosters

fx = r"C:\Users\mikej\Desktop\fantrax_golf\fantrax.csv"

teams = pd.read_csv(fx ,usecols=['Player','Status','Roster Status'])
teams.columns = ['player','team','active_reserve']
teams_dict = {'919':'Philly919','u_c':'unit_circle','NT 8':'Sneads Foot','NT 4':'New Team 4','txms':'txmoonshine','MG':'Team Gamble','grrr':'Putt Pirates','[AW]':'AlphaWired'}
teams['team'] = teams.team.map(teams_dict)
teams = teams.loc[teams.active_reserve=='Active'].set_index('player')

In [11]:
## live scoring feed

file = "https://feeds.datagolf.com/preds/live-tournament-stats?stats=sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_bs,sg_total,distance,accuracy,gir,prox_fw,prox_rgh,scrambling&round=event_avg&display=value&file_format=csv&key=e297e933c3ad47d71ec1626c299e"

live = round(pd.read_csv(file),2).rename(columns={'player_name':'player'})#.set_index('player')

names = live['player'].str.split(expand=True)
names[0] = names[0].str.rstrip(",")
names[1] = names[1].str.rstrip(",")
names['player'] = names[1] + " " + names[0]
names['player'] = np.where(names['player']=='Matt Fitzpatrick', 'Matthew Fitzpatrick', names['player'])
names['player'] = np.where(names['player']=='Si Kim', 'Si Woo Kim', names['player'])
names['player'] = np.where(names['player']=='Min Lee', 'Min Woo Lee', names['player'])
names['player'] = np.where(names['player']=='Byeong An', 'Byeong Hun An', names['player'])
names['player'] = np.where(names['player']=='Rooyen Van', 'Erik Van Rooyen', names['player'])
names['player'] = np.where(names['player']=='Kyounghoon Lee', 'Kyoung-Hoon Lee', names['player'])
live = live.set_index(names.player)

In [15]:
team_color={
                "Philly919": 'rgb(127,60,141)',
                "unit_cirle": 'rgb(17,165,121)',
                "AlphaWired": 'rgb(57,105,172)',
                "Sneads Foot": 'rgb(242,183,1)',
                "New Team 4": 'rgb(231,63,116)',
                "Team Gamble": 'rgb(230,131,16)',
                "txmoonshine": 'rgb(0,134,139)',
                "Putt Pirates": 'rgb(165,170,153)'}

matchups = {                                    # enter weekly matchups here
    'unit_circle':1,
    'Putt Pirates':2,
    'AlphaWired':3,
    'txmoonshine':4,
    'Sneads Foot':2,
    'New Team 4':4,
    'Team Gamble':3,
    'Philly919':1
}

In [16]:
## MERGE LIVE SCORING API WITH CURRENT FANTRAX TEAMS

live_merged = pd.merge(teams, live, how='left', left_index=True, right_index=True)[['player','team','position','total','round','thru','sg_putt','sg_t2g','sg_total','gir']].fillna(0).sort_values('total')
live_merged = live_merged[live_merged.player != 0]
live_merged['holes_remaining'] = (72 - (live_merged['thru']).fillna(0))
live_merged['holes_remaining'] = np.where(live_merged['position']=='CUT',0,live_merged['holes_remaining']).astype('int')
live_merged['holes_remaining'] = np.where(live_merged['position']=='WD',0,live_merged['holes_remaining']).astype('int')
live_merged['matchup_num'] = live_merged.team.map(matchups)
live_merged

,player,team,position,total,round,thru,sg_putt,sg_t2g,sg_total,gir,holes_remaining,matchup_num
player,,,,,,,,,,,,
Taylor Moore,"Moore, Taylor",New Team 4,1,-6.0,-6.0,18.0,2.89,3.40,6.29,0.83,54,4
Scottie Scheffler,"Scheffler, Scottie",Putt Pirates,T2,-5.0,-5.0,18.0,2.45,2.84,5.29,0.61,54,2
Beau Hossler,"Hossler, Beau",Philly919,T4,-4.0,-4.0,18.0,2.96,1.34,4.29,0.83,54,1
Aaron Rai,"Rai, Aaron",AlphaWired,T4,-4.0,-4.0,18.0,2.15,2.15,4.29,0.78,54,3
Akshay Bhatia,"Bhatia, Akshay",New Team 4,T7,-3.0,-3.0,18.0,-0.16,3.45,3.29,0.72,54,4
Kyoung-Hoon Lee,"Lee, Kyounghoon",Team Gamble,T11,-2.0,-2.0,18.0,0.86,1.43,2.29,0.72,54,3
Taylor Pendrith,"Pendrith, Taylor",unit_circle,T11,-2.0,-2.0,18.0,1.43,0.86,2.29,0.72,54,1
Wyndham Clark,"Clark, Wyndham",Team Gamble,T11,-2.0,-2.0,3.0,1.34,0.59,1.93,0.67,69,3
Seonghyeon Kim,"Kim, Seonghyeon",Philly919,T11,-2.0,-2.0,18.0,1.53,0.76,2.29,0.67,54,1
Andrew Novak,"Novak, Andrew",txmoonshine,T11,-2.0,-2.0,18.0,0.72,1.57,2.29,0.67,54,4
Peter Malnati,"Malnati, Peter",Sneads Foot,T11,-2.0,-2.0,18.0,-0.25,2.54,2.29,0.72,54,2
Garrick Higgo,"Higgo, Garrick",Philly919,T11,-2.0,-2.0,18.0,1.52,0.78,2.29,0.78,54,1
Mark Hubbard,"Hubbard, Mark",txmoonshine,T24,-1.0,-1.0,18.0,1.30,-0.01,1.29,0.61,54,4
Mackenzie Hughes,"Hughes, Mackenzie",Sneads Foot,T24,-1.0,-1.0,2.0,1.08,0.28,1.36,1.00,70,2
Stephan Jaeger,"Jaeger, Stephan",Team Gamble,T24,-1.0,-1.0,18.0,0.57,0.72,1.29,0.61,54,3
Joel Dahmen,"Dahmen, Joel",unit_circle,T24,-1.0,-1.0,18.0,-1.73,3.02,1.29,0.67,54,1
Ryan Moore,"Moore, Ryan",Sneads Foot,T24,-1.0,-1.0,3.0,0.40,0.53,0.93,0.67,69,2
Davis Thompson,"Thompson, Davis",txmoonshine,T41,0.0,0.0,4.0,-0.75,0.85,0.11,0.75,68,4
Sam Ryder,"Ryder, Sam",Sneads Foot,WAITING,0.0,0.0,0.0,0.00,0.00,0.00,0.00,72,2
Alex Noren,"Noren, Alex",unit_circle,WAITING,0.0,0.0,0.0,0.00,0.00,0.00,0.00,72,1
Si Woo Kim,"Kim, Si Woo",New Team 4,T41,0.0,0.0,3.0,-0.16,0.09,-0.07,0.67,69,4
Tony Finau,"Finau, Tony",Sneads Foot,T41,0.0,0.0,3.0,-0.78,0.71,-0.07,1.00,69,2
Sahith Theegala,"Theegala, Sahith",Putt Pirates,T41,0.0,0.0,2.0,-0.07,0.43,0.36,0.50,70,2
Billy Horschel,"Horschel, Billy",Putt Pirates,T41,0.0,0.0,2.0,0.12,0.24,0.36,1.00,70,2
Daniel Berger,"Berger, Daniel",Philly919,T41,0.0,0.0,3.0,0.29,-0.37,-0.08,0.67,69,1
Joseph Bramlett,"Bramlett, Joseph",txmoonshine,T41,0.0,0.0,4.0,0.64,-0.54,0.11,0.25,68,4
Chandler Phillips,"Phillips, Chandler",AlphaWired,WAITING,0.0,0.0,0.0,0.00,0.00,0.00,0.00,72,3
Parker Coody,"Coody, Parker",Sneads Foot,T41,0.0,0.0,17.0,-0.59,0.64,0.05,0.59,55,2
Thomas Detry,"Detry, Thomas",AlphaWired,T41,0.0,0.0,18.0,0.89,-0.59,0.29,0.50,54,3
Alex Smalley,"Smalley, Alex",txmoonshine,T41,0.0,0.0,1.0,-0.40,0.26,-0.14,1.00,71,4
Jason Day,"Day, Jason",AlphaWired,T70,1.0,1.0,2.0,-0.97,0.33,-0.64,0.50,70,3
Doug Ghim,"Ghim, Doug",Team Gamble,T70,1.0,1.0,18.0,0.82,-1.53,-0.71,0.44,54,3
Dylan Wu,"Wu, Dylan",New Team 4,T70,1.0,1.0,18.0,-2.11,1.40,-0.71,0.67,54,4
Keith Mitchell,"Mitchell, Keith",Putt Pirates,T70,1.0,1.0,18.0,0.19,-0.89,-0.71,0.44,54,2
Kurt Kitayama,"Kitayama, Kurt",Putt Pirates,T70,1.0,1.0,2.0,-0.72,-0.28,-1.00,0.50,70,2
Luke List,"List, Luke",Philly919,T70,1.0,1.0,18.0,-0.14,-0.57,-0.71,0.67,54,1
Justin Suh,"Suh, Justin",New Team 4,T70,1.0,1.0,4.0,0.33,-1.37,-1.04,0.75,68,4
Ryan Fox,"Fox, Ryan",txmoonshine,T70,1.0,1.0,18.0,-1.70,0.99,-0.71,0.67,54,4
Carl Yuan,"Yuan, Carl",AlphaWired,T89,2.0,2.0,4.0,-2.26,0.21,-2.04,0.50,68,3
Tom Hoge,"Hoge, Tom",Team Gamble,T89,2.0,2.0,2.0,-0.05,-1.59,-1.64,0.00,70,3
Brandon Wu,"Wu, Brandon",New Team 4,T98,3.0,3.0,18.0,-1.98,-0.73,-2.71,0.78,54,4
Matt Wallace,"Wallace, Matt",unit_circle,T104,4.0,4.0,18.0,0.62,-4.33,-3.71,0.50,54,1
Taylor Montgomery,"Montgomery, Taylor",AlphaWired,T104,4.0,4.0,18.0,-0.66,-3.05,-3.71,0.56,54,3
Will Zalatoris,"Zalatoris, Will",Putt Pirates,T104,4.0,4.0,18.0,-4.86,1.15,-3.71,0.56,54,2
Chesson Hadley,"Hadley, Chesson",Team Gamble,T104,4.0,4.0,18.0,0.43,-4.14,-3.71,0.44,54,3
Jake Knapp,"Knapp, Jake",unit_circle,T104,4.0,4.0,18.0,-4.40,0.69,-3.71,0.61,54,1

In [6]:
# make leaderboard

live_leaderboard = live_merged[['player','team','position','total','round','thru']].fillna(0).sort_values('total')

live_leaderboard[['total','round','thru']] = live_leaderboard[['total','round','thru']].astype('int')

def highlight_rows(row):
    value = row.loc['Team']
    if value == 'unit_circle':
        color = '#FF99FF' # Pink
    elif value == 'Philly919':
        color = '#7f3c8d' # Purple
    elif value == 'AlphaWired':
        color = '#3969ac' # Blue
    elif value == 'Sneads Foot':
        color = '#f2b701' # Gold
    elif value == 'New Team 4':
        color = '#e73f74' # Magenta
    elif value == 'Team Gamble':
        color = '#e68310' # Orange
    elif value == 'txmoonshine':
        color = '#00868b' # Aqua
    else:
        color = '#a5aa99' # Grey
    return ['background-color: {}'.format(color) for r in row]

live_leaderboard.rename(columns={'player':'Player','team':'Team','position':'Pos','total':'Total','round':'Round','thru':'Thru'}).style.apply(highlight_rows, axis=1)

In [7]:
live_phr = live_merged.groupby('team')[['holes_remaining']].sum().reset_index().rename(columns={'team':'Team','holes_remaining':'PHR','total':'To Par'})
live_phr.style.apply(highlight_rows, axis=1)

In [ ]:
# Team Score bar

thru_cut_df = live_leaderboard.groupby('team')['total'].sum().sort_values()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                     template='presentation',
                     labels={'value':'','team':''},
                     text_auto=True,
#                      height=250,
                     title='Team Score to Par')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

thru_cut_bar.show()

In [20]:
def remove_T_from_positions(dataframe):
    """
    Remove 'T' from positions in a given column of a DataFrame.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        column_name (str): Name of the column containing positions.

    Returns:
        pandas.DataFrame: DataFrame with 'T' removed from positions in the specified column.
    """
    dataframe[column_name] = dataframe[column_name].str.replace('T', '')
    return dataframe

def get_inside_cut(dataframe):
    """
    Filter DataFrame based on position threshold and group by team.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        position_threshold (str): Threshold position for filtering.

    Returns:
        pandas.DataFrame: DataFrame with filtered data grouped by team.
    """
    filtered_data = dataframe[(dataframe['player'] != 0) & (dataframe['position'] != "WAITING")]
    filtered_data = remove_T_from_positions(filtered_data)
    inside_cut_df = filtered_data[filtered_data['position'] < "66"].groupby('team', as_index=False)['player'].count()
    inside_cut_df = inside_cut_df.sort_values(by='player', ascending=False).reset_index(drop=True)
    return inside_cut_df

# Example usage:
inside_cut_df = get_inside_cut(live_merged)
inside_cut_df

NameError: name 'column_name' is not defined

In [ ]:
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.player != 0) & (live_leaderboard.position != "WAITING")]
filtered_live_leaderboard['position'] = filtered_live_leaderboard['position'].str.replace('T', '')
inside_cut_df = filtered_live_leaderboard[filtered_live_leaderboard.position < "66"].groupby('team',as_index=False)['player'].count()
inside_cut_df = inside_cut_df.sort_values(by = 'player',ascending=False).reset_index(drop=True)
inside_cut_df

In [ ]:
team_color={
                "Philly919": 'rgb(127,60,141)',
                "unit_cirle": 'rgb(17,165,121)',
                "AlphaWired": 'rgb(57,105,172)',
                "Sneads Foot": 'rgb(242,183,1)',
                "New Team 4": 'rgb(231,63,116)',
                "Team Gamble": 'rgb(230,131,16)',
                "txmoonshine": 'rgb(0,134,139)',
                "Putt Pirates": 'rgb(165,170,153)'}

In [ ]:
inside_cut_bar = px.bar(
    inside_cut_df,
    x='team',
    y='player',
    text_auto=True,
    template='plotly_dark',
    color='team',
    color_discrete_map=team_color,
    labels = {'player':'','team':''},
    title = 'Players Currently Inside Cutline',
    height = 250,
    log_y=True
).update_xaxes(showticklabels=False,showgrid=False
).update_yaxes(showticklabels=False,showgrid=False
).update_layout(showlegend=False, title_x = .5)

inside_cut_bar

In [ ]:
# def current_cut_in_out():
# live_leaderboard['current_place'] = live_leaderboard.position.str.split("T",expand=True)[1]
# live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]#.position.str.split("T",expand=True)
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]

position_column = list(filtered_live_leaderboard.position)

filtered_live_leaderboard.apply(position = [pos.replace('T', '') for pos in position_column])

In [ ]:
# Thru Cut Bar

thru_cut_df = live_leaderboard[live_leaderboard.position!='CUT']['team'].value_counts()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                 template='presentation',
                 labels={'value':'','index':''},
                 text_auto=True,
                 height=250,
                 log_y=True,
                 title='Players Thru the Cut')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

In [ ]:
print(f"unit_circle has {live_merged[live_merged.team=='unit_circle']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='unit_circle'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Philly919 has {live_merged[live_merged.team=='Philly919']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Philly919'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Team Gamble has {live_merged[live_merged.team=='Team Gamble']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Team Gamble'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"New Team 4 has {live_merged[live_merged.team=='New Team 4']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='New Team 4'].drop(columns=['holes_remaining','team'])

In [ ]:
unit_circle = teams.loc[(teams.team=='unit_circle') & (teams.active_reserve=='Active')].index

live['thru_hp'] = live['thru'] + 18

# live[live.player.isin([unit_circle])]#[['player','total','round','thru','thru_hp']].reset_index(drop=True)

In [ ]:
def get_active_rosters(teams):
    active_rosters = []
    
    for team in teams.team.unique():
        one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
        active_rosters.append(one_roster)
        
    cols = teams.team.unique()
    active_rosters = pd.DataFrame(active_rosters, index=cols).T
    return active_rosters

In [ ]:
get_active_rosters(teams)

In [ ]:
active_rosters = []

for team in teams.team.unique():
    one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
    active_rosters.append(one_roster)

cols = teams.team.unique()
active_rosters = pd.DataFrame(active_rosters, index=cols).T
active_rosters