In [5]:
import pandas as pd
import numpy as np
import plotly.express as px
from utils import highlight_rows, remove_T_from_positions, get_inside_cut, teams_dict, team_color,fix_names

pd.set_option('display.max_columns', None)

In [6]:
matchups = {                                    # enter weekly matchups here
    'unit_circle':1,
    'Putt Pirates':2,
    'AlphaWired':3,
    'txmoonshine':2,
    'Sneads Foot':1,
    'New Team 4':4,
    'Team Gamble':4,
    'Philly919':3
}

In [7]:
## live scoring feed

file = "https://feeds.datagolf.com/preds/live-tournament-stats?stats=sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_bs,sg_total,distance,accuracy,gir,prox_fw,prox_rgh,scrambling&round=event_avg&display=value&file_format=csv&key=e297e933c3ad47d71ec1626c299e"

live = round(pd.read_csv(file),2).rename(columns={'player_name':'player'})
live = live.set_index(fix_names(live))
live[-20:]

,event_name,last_updated,stat_display,position,player,dg_id,stat_round,total,round,thru,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_bs,sg_total,distance,accuracy,gir,prox_fw,prox_rgh,scrambling
player,,,,,,,,,,,,,,,,,,,,,,,
Rickie Fowler,NaN,NaN,NaN,T133,"Fowler, Rickie",12965,event_avg,4.0,4.0,18.0,-1.57,0.91,-1.25,-1.33,-1.67,-2.58,-3.24,298.6,0.50,0.61,27.45,103.42,0.50
Cameron Champ,NaN,NaN,NaN,T138,"Champ, Cameron",23542,event_avg,5.0,5.0,18.0,0.16,-1.46,-0.41,-2.53,-4.40,-2.94,-4.24,310.4,0.43,0.39,26.95,51.60,0.50
Kyoung-Hoon Lee,NaN,NaN,NaN,T138,"Lee, Kyounghoon",13497,event_avg,5.0,5.0,18.0,-0.05,-0.33,-2.63,-1.22,-4.19,-3.86,-4.24,284.0,0.43,0.39,31.02,72.07,0.62
Andrew Landry,NaN,NaN,NaN,T138,"Landry, Andrew",14000,event_avg,5.0,5.0,18.0,-0.84,-0.06,-1.19,-0.17,-1.42,-1.36,-2.26,282.7,0.31,0.41,37.30,43.08,0.60
Scott Gutschewski,NaN,NaN,NaN,T138,"Gutschewski, Scott",7305,event_avg,5.0,5.0,18.0,-1.56,0.96,-3.35,-0.29,-2.68,-3.64,-4.24,287.9,0.50,0.50,38.72,58.12,0.62
Adam Long,NaN,NaN,NaN,T138,"Long, Adam",15473,event_avg,5.0,5.0,18.0,0.21,-0.30,-0.79,-3.36,-4.45,-4.15,-4.24,282.5,0.43,0.44,29.55,54.50,0.70
Luke Donald,NaN,NaN,NaN,T138,"Donald, Luke",4163,event_avg,5.0,5.0,18.0,0.14,-0.42,-1.72,-2.24,-4.38,-3.96,-4.24,281.3,0.29,0.39,31.54,38.08,0.73
Carson Young,NaN,NaN,NaN,T138,"Young, Carson",23656,event_avg,5.0,5.0,18.0,-1.80,-0.53,-1.35,-0.56,-2.44,-1.91,-4.24,290.4,0.57,0.50,30.02,44.39,0.64
Max Greyserman,NaN,NaN,NaN,T138,"Greyserman, Max",23465,event_avg,5.0,5.0,16.0,-1.32,-2.99,-0.43,0.44,-2.98,0.00,-4.31,292.6,0.42,0.56,36.39,59.36,0.42
Alex Welch,NaN,NaN,NaN,T146,"Welch, Alex",10066343,event_avg,6.0,6.0,18.0,-1.99,-0.68,-1.82,-0.75,-3.25,-2.57,-5.24,289.3,0.29,0.50,34.50,71.07,0.42
Zac Blair,NaN,NaN,NaN,T146,"Blair, Zac",17639,event_avg,6.0,6.0,18.0,-2.70,-0.94,-0.66,-0.93,-2.53,-1.59,-5.24,285.1,0.57,0.44,37.48,42.23,0.43
Ben Willman,NaN,NaN,NaN,T146,"Willman, Ben",9313,event_avg,6.0,6.0,17.0,0.38,-1.12,-4.52,-0.18,-5.82,-4.70,-5.44,280.3,0.62,0.41,49.64,46.95,0.50
Matthew NeSmith,NaN,NaN,NaN,T149,"NeSmith, Matthew",16433,event_avg,7.0,7.0,18.0,-1.85,-4.03,-0.66,0.30,-4.39,-0.36,-6.24,296.4,0.43,0.50,21.31,46.71,0.18
Trace Crowe,NaN,NaN,NaN,T149,"Crowe, Trace",27780,event_avg,7.0,7.0,18.0,-2.82,-2.02,-1.90,0.50,-3.42,-1.40,-6.24,303.1,0.29,0.50,33.78,44.91,0.10
Sam Ryder,NaN,NaN,NaN,151,"Ryder, Sam",16715,event_avg,8.0,8.0,18.0,0.07,-2.30,-2.99,-2.02,-7.31,-5.01,-7.24,290.4,0.36,0.33,29.21,58.64,0.54
Taylor Montgomery,NaN,NaN,NaN,152,"Montgomery, Taylor",25442,event_avg,9.0,9.0,18.0,0.14,-0.51,-6.59,-1.28,-8.38,-7.87,-8.24,296.4,0.29,0.33,44.03,59.47,0.62
Nicolas Echavarria,NaN,NaN,NaN,153,"Echavarria, Nicolas",22833,event_avg,10.0,10.0,18.0,-1.22,-1.75,-5.48,-0.79,-8.01,-6.27,-9.24,292.5,0.29,0.33,43.44,47.64,0.40
Jr Hale,NaN,NaN,NaN,T154,"Hale Jr, Blaine",29348,event_avg,11.0,11.0,18.0,-2.44,-3.91,-2.63,-1.26,-7.80,-3.89,-10.24,293.5,0.36,0.39,41.02,35.98,0.50
Tom Adrounie,NaN,NaN,NaN,T154,"Adrounie, Tom",30736,event_avg,11.0,11.0,16.0,-1.43,-0.88,-2.10,-3.09,-6.07,-5.19,-7.50,291.5,0.25,0.40,40.70,41.69,0.56
Patrick Rodgers,NaN,NaN,NaN,WD,"Rodgers, Patrick",16283,event_avg,NaN,NaN,NaN,-2.76,-1.49,-1.61,0.62,-2.47,-0.99,-5.24,299.5,0.57,0.61,29.67,99.44,0.45

In [8]:
## fantrax rosters

fx = r"C:\Users\mikej\Desktop\fantrax_golf\fantrax.csv"

teams = pd.read_csv(fx ,usecols=['Player','Status','Roster Status'])
# teams.columns = ['player','team','active_reserve']
# teams['team'] = teams.team.map(teams_dict)
# teams = teams.loc[teams.active_reserve=='Active'].set_index('player')
teams

            Player Status Roster Status
0     Ludvig Aberg   NT 4        Active
1  Patrick Cantlay    u_c       Reserve
2    Wyndham Clark     MG       Reserve
3        Jason Day   [AW]       Reserve
4         Max Homa    919        Active

In [ ]:
sorted(np.array(live_merged['matchup_num'].unique()))

In [10]:
## DATAFRAME WITH ALL INFO FOR BOTH PHR TABLE AND LIVE LEADERBOARD

live_merged = pd.merge(teams, live, how='left', left_index=True, right_index=True)[['team','position','total','round','thru']].fillna(0).sort_values('total')
live_merged = live_merged[live_merged.index != 0].reset_index()
live_merged[['round', 'thru']] = live_merged[['round', 'thru']].astype(int)
live_merged['matchup_num'] = live_merged.team.map(matchups)

live_merged['holes_remaining'] = (72 - (live_merged['thru']).fillna(0)).astype(int)
live_merged['holes_remaining'] = np.where(live_merged['position']=='CUT',0,live_merged['holes_remaining']).astype('int')
live_merged['holes_remaining'] = np.where(live_merged['position']=='WD',0,live_merged['holes_remaining']).astype('int')

live_merged.head()

,player,team,position,total,round,thru,matchup_num,holes_remaining
0,Denny McCarthy,unit_circle,T2,-4,-4,16,1,56
1,Max Homa,Philly919,T2,-4,-4,18,3,54
2,Corey Conners,unit_circle,T7,-2,-2,18,1,54
3,Erik Van Rooyen,New Team 4,T7,-2,-2,18,4,54
4,Ryan Moore,Sneads Foot,T7,-2,-2,18,1,54

In [12]:
# TEAM LEADERBOARD


team_leaderboard = live_merged[['team','total','holes_remaining','matchup_num']]

team_leaderboard = (
    team_leaderboard#.sort_values('total',ascending=True)
    .groupby('team')
    [['total','holes_remaining','matchup_num']]
    .agg(
        {
            'total':'sum',
            'holes_remaining':'sum',
            'matchup_num':'mean'
        }
    ).convert_dtypes()
)

team_leaderboard = team_leaderboard.sort_values('total').reset_index()
team_leaderboard['team'] = team_leaderboard['team'].astype(str)

team_leaderboard['inside_cut'] = team_leaderboard['team'].map(get_inside_cut(live_merged))

team_leaderboard['total'] = np.where(team_leaderboard['total'] == 0, "E", team_leaderboard['total']).astype(str)

team_leaderboard.columns = ['Team','Total','PHR','Matchup','Inside Cut']

team_leaderboard.style.apply(highlight_rows,axis=1)

C:\Users\mikej\Desktop\fantrax_golf\utils.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['position'] = dataframe['position'].str.replace('T', '')
C:\Users\mikej\Desktop\fantrax_golf\utils.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  live_merged['position'] = live_merged['position'].astype('int')

In [13]:
#1 LIVE LEADERBOARD
player_leaderboard = live_merged[['player', 'position', 'total', 'round', 'thru','team','matchup_num']].fillna(0)

player_leaderboard['total'] = np.where(player_leaderboard['total'] == 0, "E", player_leaderboard['total']).astype(str)
player_leaderboard['round'] = np.where(player_leaderboard['round'] == 0, "E", player_leaderboard['round']).astype(str)
player_leaderboard['position'] = np.where(player_leaderboard['position'] == "WAITING", "-", player_leaderboard['position'])
player_leaderboard['thru'] = np.where(player_leaderboard['thru'] == 0, "-", player_leaderboard['thru']).astype(str)

player_leaderboard.columns = ['Player','Pos','Total','Rd','Thru','Team','matchup_num']

# matchup_num = [1,2,3,4]
# player_leaderboard[player_leaderboard.matchup_num.isin(matchup_num)]

player_leaderboard.style.apply(highlight_rows,axis=1)

In [19]:
live_merged_strokes_gained = (pd.merge(teams,live,how='left',left_index=True,right_index=True).drop(columns='player').reset_index())
live_merged_strokes_gained.groupby('team',as_index=False)[['sg_putt','sg_arg','sg_app','sg_t2g']].sum().reset_index(drop=True)

           team  sg_putt  sg_arg  sg_app  sg_t2g
0    AlphaWired     2.71    3.32   -3.05    1.51
1    New Team 4     0.14   -0.99    1.87    3.25
2     Philly919     3.07   -0.40    2.18    2.01
3  Putt Pirates     1.14    2.37   -3.35    0.87
4   Sneads Foot     1.50   -4.80   -1.12   -4.97
5   Team Gamble    -5.77    3.70   -0.31    4.61
6   txmoonshine     1.00    2.85    3.01    6.53
7   unit_circle     1.71    1.86    3.87    6.53

In [20]:
live_merged_strokes_gained = (pd.merge(teams,live,how='left',left_index=True,right_index=True).drop(columns='player').reset_index())
live_merged_strokes_gained = live_merged_strokes_gained.groupby('team',as_index=False)[['sg_putt','sg_arg','sg_app','sg_t2g']].sum().reset_index(drop=True)

live_merged_strokes_gained.columns = ['Team','SG Putt','SG Arg','SG App','SG T2G']
live_merged_strokes_gained = live_merged_strokes_gained.style.background_gradient(cmap='Greens').format(precision=2)
live_merged_strokes_gained

In [ ]:
live_phr = live_merged.groupby('team')[['holes_remaining']].sum().reset_index().rename(columns={'team':'Team','holes_remaining':'PHR','total':'To Par'})
live_phr.style.apply(highlight_rows, axis=1)

In [ ]:
# Team Score bar

thru_cut_df = live_leaderboard.groupby('team')['total'].sum().sort_values()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                     template='presentation',
                     labels={'value':'','team':''},
                     text_auto=True,
#                      height=250,
                     title='Team Score to Par')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

thru_cut_bar.show()

In [ ]:
def remove_T_from_positions(dataframe):
    """
    Remove 'T' from positions in a given column of a DataFrame.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        column_name (str): Name of the column containing positions.

    Returns:
        pandas.DataFrame: DataFrame with 'T' removed from positions in the specified column.
    """
    dataframe['position'] = dataframe['position'].str.replace('T', '')
    return dataframe

def get_inside_cut(dataframe):
    """
    Filter DataFrame based on position threshold and group by team.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        position_threshold (str): Threshold position for filtering.

    Returns:
        pandas.DataFrame: DataFrame with filtered data grouped by team.
    """
    filtered_data = dataframe[(dataframe['player'] != 0) & (dataframe['position'] != "WAITING")]
    filtered_data = remove_T_from_positions(filtered_data)
    inside_cut_df = filtered_data[filtered_data['position'] < "66"].groupby('team', as_index=False)['player'].count()
    inside_cut_df = inside_cut_df.sort_values(by='player', ascending=False).reset_index(drop=True)
    return inside_cut_df

# Example usage:
# inside_cut_df = get_inside_cut(live_merged)
# inside_cut_df

In [ ]:
live_merged = live_merged[(live_merged['player'] != 0) & (live_merged['position'] != "WAITING")]
live_merged = remove_T_from_positions(live_merged)
live_merged['position'] = live_merged['position'].astype('int')
# inside_cut_df = live_merged[live_merged['position'] < 66]#.groupby('team', as_index=False)['player'].count()
# # inside_cut_df = inside_cut_df.sort_values(by='player', ascending=False).reset_index(drop=True)
# inside_cut_df#.info()

In [ ]:
inside_cut_df = pd.DataFrame(live_merged[live_merged['position'] < 66].team.value_counts()).reset_index()
inside_cut_df.columns = ['team','inside_cut']
inside_cut_df

In [ ]:
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.player != 0) & (live_leaderboard.position != "WAITING")]
filtered_live_leaderboard['position'] = filtered_live_leaderboard['position'].str.replace('T', '')
inside_cut_df = filtered_live_leaderboard[filtered_live_leaderboard.position < "66"].groupby('team',as_index=False)['player'].count()
inside_cut_df = inside_cut_df.sort_values(by = 'player',ascending=False).reset_index(drop=True)
inside_cut_df

In [ ]:
team_color={
                "Philly919": 'rgb(127,60,141)',
                "unit_cirle": 'rgb(17,165,121)',
                "AlphaWired": 'rgb(57,105,172)',
                "Sneads Foot": 'rgb(242,183,1)',
                "New Team 4": 'rgb(231,63,116)',
                "Team Gamble": 'rgb(230,131,16)',
                "txmoonshine": 'rgb(0,134,139)',
                "Putt Pirates": 'rgb(165,170,153)'}

In [ ]:
inside_cut_bar = px.bar(
    inside_cut_df,
    x='team',
    y='player',
    text_auto=True,
    template='plotly_dark',
    color='team',
    color_discrete_map=team_color,
    labels = {'player':'','team':''},
    title = 'Players Currently Inside Cutline',
    height = 250,
    log_y=True
).update_xaxes(showticklabels=False,showgrid=False
).update_yaxes(showticklabels=False,showgrid=False
).update_layout(showlegend=False, title_x = .5)

inside_cut_bar

In [ ]:
# def current_cut_in_out():
# live_leaderboard['current_place'] = live_leaderboard.position.str.split("T",expand=True)[1]
# live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]#.position.str.split("T",expand=True)
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]

position_column = list(filtered_live_leaderboard.position)

filtered_live_leaderboard.apply(position = [pos.replace('T', '') for pos in position_column])

In [ ]:
# Thru Cut Bar

thru_cut_df = live_leaderboard[live_leaderboard.position!='CUT']['team'].value_counts()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                 template='presentation',
                 labels={'value':'','index':''},
                 text_auto=True,
                 height=250,
                 log_y=True,
                 title='Players Thru the Cut')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

In [ ]:
print(f"unit_circle has {live_merged[live_merged.team=='unit_circle']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='unit_circle'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Philly919 has {live_merged[live_merged.team=='Philly919']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Philly919'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Team Gamble has {live_merged[live_merged.team=='Team Gamble']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Team Gamble'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"New Team 4 has {live_merged[live_merged.team=='New Team 4']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='New Team 4'].drop(columns=['holes_remaining','team'])

In [ ]:
unit_circle = teams.loc[(teams.team=='unit_circle') & (teams.active_reserve=='Active')].index

live['thru_hp'] = live['thru'] + 18

# live[live.player.isin([unit_circle])]#[['player','total','round','thru','thru_hp']].reset_index(drop=True)

In [ ]:
def get_active_rosters(teams):
    active_rosters = []
    
    for team in teams.team.unique():
        one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
        active_rosters.append(one_roster)
        
    cols = teams.team.unique()
    active_rosters = pd.DataFrame(active_rosters, index=cols).T
    return active_rosters

In [ ]:
get_active_rosters(teams)

In [ ]:
active_rosters = []

for team in teams.team.unique():
    one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
    active_rosters.append(one_roster)

cols = teams.team.unique()
active_rosters = pd.DataFrame(active_rosters, index=cols).T
active_rosters