In [12]:
import pandas as pd
import numpy as np
import plotly.express as px
from utils import highlight_rows, remove_T_from_positions, get_inside_cut, teams_dict, team_color,fix_names, plus_prefix

pd.set_option('display.max_columns', None)

In [13]:
matchups = {                                    # enter weekly matchups here
    'unit_circle':1,
    'Putt Pirates':2,
    'AlphaWired':3,
    'txmoonshine':2,
    'Sneads Foot':1,
    'New Team 4':4,
    'Team Gamble':4,
    'Philly919':3
}

In [14]:
## live scoring feed

file = "https://feeds.datagolf.com/preds/live-tournament-stats?stats=sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_bs,sg_total,distance,accuracy,gir,prox_fw,prox_rgh,scrambling&round=event_avg&display=value&file_format=csv&key=e297e933c3ad47d71ec1626c299e"

live = round(pd.read_csv(file),2).rename(columns={'player_name':'player'})
live = live.set_index(fix_names(live))
live[-20:]

,event_name,last_updated,stat_display,position,player,dg_id,stat_round,total,round,thru,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_bs,sg_total,distance,accuracy,gir,prox_fw,prox_rgh,scrambling
player,,,,,,,,,,,,,,,,,,,,,,,
de Dumont,NaN,NaN,NaN,CUT,"Dumont de Chassart, Adrien",22002,event_avg,8.0,NaN,NaN,-0.78,0.11,-0.52,-1.80,-2.20,-2.32,-2.99,293.86,0.18,0.47,41.74,47.01,0.45
Kyoung-Hoon Lee,NaN,NaN,NaN,CUT,"Lee, Kyounghoon",13497,event_avg,8.0,NaN,NaN,-1.55,0.16,-0.86,-0.73,-1.44,-1.59,-2.99,280.25,0.46,0.47,30.77,73.11,0.68
Jr Hale,NaN,NaN,NaN,CUT,"Hale Jr, Blaine",29348,event_avg,8.0,NaN,NaN,-0.28,-1.68,-0.25,-0.76,-2.70,-1.02,-2.99,293.10,0.36,0.47,37.15,32.85,0.62
David Skinns,NaN,NaN,NaN,CUT,"Skinns, David",10873,event_avg,8.0,NaN,NaN,-0.70,-0.90,-1.22,-0.18,-2.28,-1.40,-2.99,295.10,0.46,0.42,34.98,45.96,0.62
Max Greyserman,NaN,NaN,NaN,CUT,"Greyserman, Max",23465,event_avg,8.0,NaN,NaN,-0.64,-1.00,-1.50,0.16,-2.35,-1.35,-2.99,291.10,0.39,0.50,37.27,73.82,0.54
Adam Long,NaN,NaN,NaN,CUT,"Long, Adam",15473,event_avg,8.0,NaN,NaN,-0.44,-0.15,-0.42,-1.99,-2.56,-2.40,-2.99,280.55,0.46,0.44,34.75,81.46,0.75
Rafael Campos,NaN,NaN,NaN,CUT,"Campos, Rafael",12909,event_avg,8.0,NaN,NaN,-0.84,0.12,-1.57,-0.71,-2.14,-2.27,-2.99,297.20,0.43,0.42,41.45,67.02,0.60
Cameron Champ,NaN,NaN,NaN,CUT,"Champ, Cameron",23542,event_avg,9.0,NaN,NaN,-0.56,-1.74,-0.45,-0.76,-2.94,-1.20,-3.49,315.61,0.46,0.47,29.22,57.01,0.48
Zac Blair,NaN,NaN,NaN,CUT,"Blair, Zac",17639,event_avg,9.0,NaN,NaN,-1.58,-0.55,-0.64,-0.73,-1.91,-1.36,-3.49,279.20,0.46,0.39,36.61,55.09,0.52
Alejandro Tosti,NaN,NaN,NaN,CUT,"Tosti, Alejandro",17032,event_avg,10.0,NaN,NaN,-1.91,-0.93,-1.80,0.65,-2.08,-1.15,-3.99,294.80,0.46,0.56,42.04,58.40,0.43
Alex Welch,NaN,NaN,NaN,CUT,"Welch, Alex",10066343,event_avg,10.0,NaN,NaN,-0.40,-0.05,-2.64,-0.90,-3.60,-3.54,-3.99,294.50,0.39,0.47,42.26,81.10,0.50
Matthew NeSmith,NaN,NaN,NaN,CUT,"NeSmith, Matthew",16433,event_avg,11.0,NaN,NaN,-2.42,-1.25,-0.66,-0.16,-2.08,-0.82,-4.49,293.85,0.43,0.50,25.79,50.77,0.40
Ben Willman,NaN,NaN,NaN,CUT,"Willman, Ben",9313,event_avg,11.0,NaN,NaN,-0.86,-0.29,-3.38,0.04,-3.64,-3.33,-4.49,278.60,0.61,0.47,46.24,48.16,0.52
Andrew Landry,NaN,NaN,NaN,CUT,"Landry, Andrew",14000,event_avg,12.0,NaN,NaN,-1.26,0.18,-3.10,0.18,-2.74,-2.92,-4.00,287.26,0.41,0.37,44.54,44.09,0.58
Sam Ryder,NaN,NaN,NaN,CUT,"Ryder, Sam",16715,event_avg,13.0,NaN,NaN,-0.90,-1.82,-1.27,-1.50,-4.59,-2.76,-5.49,284.20,0.39,0.42,28.20,56.53,0.50
Nicolas Echavarria,NaN,NaN,NaN,CUT,"Echavarria, Nicolas",22833,event_avg,15.0,NaN,NaN,-0.24,-1.01,-3.73,-1.51,-6.25,-5.24,-6.49,288.88,0.36,0.36,42.80,42.89,0.50
Tom Adrounie,NaN,NaN,NaN,CUT,"Adrounie, Tom",30736,event_avg,20.0,NaN,NaN,-1.44,-1.97,-1.71,-2.47,-6.14,-4.18,-7.59,287.55,0.32,0.37,32.54,68.98,0.50
Patrick Rodgers,NaN,NaN,NaN,WD,"Rodgers, Patrick",16283,event_avg,NaN,NaN,NaN,-2.75,-1.47,-1.59,0.63,-2.43,-0.96,-5.18,299.50,0.57,0.61,29.67,99.44,0.45
Trace Crowe,NaN,NaN,NaN,WD,"Crowe, Trace",27780,event_avg,NaN,NaN,NaN,-2.81,-2.00,-1.88,0.51,-3.38,-1.38,-6.18,303.10,0.29,0.50,33.78,44.91,0.10
Taylor Montgomery,NaN,NaN,NaN,WD,"Montgomery, Taylor",25442,event_avg,NaN,NaN,NaN,0.16,-0.49,-6.57,-1.28,-8.34,-7.85,-8.18,296.40,0.29,0.33,44.03,59.47,0.62

In [15]:
## fantrax rosters

fx = r"C:\Users\mikej\Desktop\fantrax_golf\fantrax.csv"

teams = pd.read_csv(fx ,usecols=['Player','Status','Roster Status'])
teams.columns = ['player','team','active_reserve']
teams['team_short'] = teams['team']
teams['team'] = teams.team.map(teams_dict)
teams = teams.loc[teams.active_reserve=='Active'].set_index('player')
teams

                                 team active_reserve team_short
player
Ludvig Aberg               New Team 4         Active       NT 4
Max Homa                    Philly919         Active        919
Collin Morikawa           txmoonshine         Active       txms
Jordan Spieth              AlphaWired         Active       [AW]
Hideki Matsuyama          unit_circle         Active        u_c
Rory McIlroy              Sneads Foot         Active       NT 8
Eric Cole                 Team Gamble         Active         MG
Brian Harman               AlphaWired         Active       [AW]
Matthew Fitzpatrick       txmoonshine         Active       txms
Beau Hossler                Philly919         Active        919
Tommy Fleetwood           unit_circle         Active        u_c
Tom Kim                   txmoonshine         Active       txms
Akshay Bhatia              New Team 4         Active       NT 4
Alex Noren                unit_circle         Active        u_c
Erik Van Rooyen            New Team 4         Active       NT 4
Corey Conners             unit_circle         Active        u_c
Byeong Hun An             Team Gamble         Active         MG
Harris English             AlphaWired         Active       [AW]
Sam Ryder                 Sneads Foot         Active       NT 8
Keith Mitchell           Putt Pirates         Active       grrr
Russell Henley              Philly919         Active        919
Ben Griffin               Team Gamble         Active         MG
Rickie Fowler             Sneads Foot         Active       NT 8
Doug Ghim                 Team Gamble         Active         MG
Denny McCarthy            unit_circle         Active        u_c
Adam Scott                Sneads Foot         Active       NT 8
Christiaan Bezuidenhout  Putt Pirates         Active       grrr
Brendon Todd              txmoonshine         Active       txms
Kyoung-Hoon Lee           Team Gamble         Active         MG
Austin Eckroat            unit_circle         Active        u_c
Aaron Rai                  AlphaWired         Active       [AW]
Billy Horschel           Putt Pirates         Active       grrr
Maverick McNealy          txmoonshine         Active       txms
Adam Schenk               Team Gamble         Active         MG
Andrew Putnam               Philly919         Active        919
Seonghyeon Kim              Philly919         Active        919
Andrew Novak              txmoonshine         Active       txms
Ryan Moore                Sneads Foot         Active       NT 8
Brandon Wu                 New Team 4         Active       NT 4
J.J. Spaun                 AlphaWired         Active       [AW]
Ryo Hisatsune            Putt Pirates         Active       grrr
Thorbjorn Olesen           New Team 4         Active       NT 4
Chandler Phillips          AlphaWired         Active       [AW]
Dylan Wu                   New Team 4         Active       NT 4
Garrick Higgo               Philly919         Active        919
Parker Coody              Sneads Foot         Active       NT 8
Ben Silverman            Putt Pirates         Active       grrr
Max Greyserman           Putt Pirates         Active       grrr

In [16]:
## DATAFRAME WITH ALL INFO FOR BOTH PHR TABLE AND LIVE LEADERBOARD

live_merged = pd.merge(teams, live, how='left', left_index=True, right_index=True)[['team','team_short','position','total','round','thru']].fillna(0).sort_values('total')
live_merged = live_merged[live_merged.index != 0].reset_index()
live_merged[['total','round', 'thru']] = live_merged[['total','round', 'thru']].astype(int)
live_merged['matchup_num'] = live_merged.team.map(matchups)

live_merged['holes_remaining'] = (36 - (live_merged['thru']).fillna(0)).astype(int)
live_merged['holes_remaining'] = np.where(live_merged['position']=='CUT',0,live_merged['holes_remaining']).astype('int')
live_merged['holes_remaining'] = np.where(live_merged['position']=='WD',0,live_merged['holes_remaining']).astype('int')

live_merged.head()

,player,team,team_short,position,total,round,thru,matchup_num,holes_remaining
0,Akshay Bhatia,New Team 4,NT 4,1,-11,0,0,4,36
1,Brendon Todd,txmoonshine,txms,T2,-6,0,0,2,36
2,Denny McCarthy,unit_circle,u_c,T2,-6,0,0,1,36
3,Russell Henley,Philly919,919,T2,-6,0,0,3,36
4,Rory McIlroy,Sneads Foot,NT 8,5,-5,0,0,1,36

In [20]:
# Make team leaderboard
team_leaderboard = (live_merged[['team', 'team_short', 'total', 'holes_remaining', 'matchup_num']]
                    .groupby(['team', 'team_short'])
                    .agg({'total': 'sum', 'holes_remaining': 'sum'})
                    .convert_dtypes()
                    .sort_values('total')
                    .reset_index()
                    .astype({'team': str, 'team_short': str})
                   )

# team_leaderboard['inside_cut'] = team_leaderboard['team'].map(get_inside_cut(live_merged))
team_leaderboard['total'] = team_leaderboard['total'].apply(plus_prefix)
team_leaderboard['total'] = team_leaderboard['total'].replace('0', 'E').astype(str)
team_leaderboard_bar_df = team_leaderboard.copy()

team_leaderboard.drop(columns='team',inplace=True)
team_leaderboard.rename(columns={'team_short':'team'},inplace=True)
team_leaderboard.columns = ['Team','Total','PHR','Inside Cut']
team_leaderboard

NameError: name 'plus_prefix' is not defined

In [18]:
live_merged = live_merged[live_merged['position'] != "WAITING"]
live_merged = live_merged[live_merged['position'] != "CU"]
live_merged = remove_T_from_positions(live_merged)
live_merged['position'] = live_merged['position'].astype('int')
# inside_cut_df = pd.DataFrame(live_merged[live_merged['position'] < 66].team.value_counts()).reset_index()
# inside_cut_df.columns = ['team','inside_cut']

# inside_cut_dict = dict(inside_cut_df.values)

# inside_cut_dict

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
live_merged.position

In [ ]:
# TEAM LEADERBOARD


team_leaderboard = live_merged[['team','team_short','total','holes_remaining','matchup_num']]

team_leaderboard = (
    team_leaderboard#.sort_values('total',ascending=True)
    .groupby(['team','team_short'])
    [['total','holes_remaining','matchup_num']]
    .agg(
        {
            'total':'sum',
            'holes_remaining':'sum',
            'matchup_num':'mean'
        }
    ).convert_dtypes()
)

team_leaderboard = team_leaderboard.sort_values('total').reset_index()
team_leaderboard['team'] = team_leaderboard['team'].astype(str)
team_leaderboard['team_short'] = team_leaderboard['team_short'].astype(str)

team_leaderboard['inside_cut'] = team_leaderboard['team'].map(get_inside_cut(live_merged))

team_leaderboard['total'] = np.where(team_leaderboard['total'] == 0, "E", team_leaderboard['total']).astype(str)

# team_leaderboard.drop(columns='team',inplace=True)

team_leaderboard.columns = ['Team','Team Short','Total','PHR','Matchup','Inside Cut']

team_leaderboard.style.apply(highlight_rows,axis=1)#, column_config={'Team':None})

In [ ]:
#1 LIVE LEADERBOARD
player_leaderboard = live_merged[['player', 'position', 'total', 'round', 'thru','team','matchup_num']].fillna(0)

player_leaderboard['total'] = np.where(player_leaderboard['total'] == 0, "E", player_leaderboard['total']).astype(str)
player_leaderboard['round'] = np.where(player_leaderboard['round'] == 0, "E", player_leaderboard['round']).astype(str)
player_leaderboard['position'] = np.where(player_leaderboard['position'] == "WAITING", "-", player_leaderboard['position'])
player_leaderboard['thru'] = np.where(player_leaderboard['thru'] == 0, "-", player_leaderboard['thru']).astype(str)

player_leaderboard.columns = ['Player','Pos','Total','Rd','Thru','Team','matchup_num']

# matchup_num = [1,2,3,4]
# player_leaderboard[player_leaderboard.matchup_num.isin(matchup_num)]

player_leaderboard.style.apply(highlight_rows,axis=1)

In [ ]:
sorted(np.array(live_merged['matchup_num'].unique()))

In [ ]:
live_merged_strokes_gained = (pd.merge(teams,live,how='left',left_index=True,right_index=True).drop(columns='player').reset_index())
live_merged_strokes_gained.groupby('team',as_index=False)[['sg_putt','sg_arg','sg_app','sg_t2g']].sum().reset_index(drop=True)

In [ ]:
live_merged_strokes_gained = (pd.merge(teams,live,how='left',left_index=True,right_index=True).drop(columns='player').reset_index())
live_merged_strokes_gained = live_merged_strokes_gained.groupby('team',as_index=False)[['sg_putt','sg_arg','sg_app','sg_t2g']].sum().reset_index(drop=True)

live_merged_strokes_gained.columns = ['Team','SG Putt','SG Arg','SG App','SG T2G']
live_merged_strokes_gained = live_merged_strokes_gained.style.background_gradient(cmap='Greens').format(precision=2)
live_merged_strokes_gained

In [ ]:
live_phr = live_merged.groupby('team')[['holes_remaining']].sum().reset_index().rename(columns={'team':'Team','holes_remaining':'PHR','total':'To Par'})
live_phr.style.apply(highlight_rows, axis=1)

In [ ]:
# Team Score bar

thru_cut_df = live_leaderboard.groupby('team')['total'].sum().sort_values()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                     template='presentation',
                     labels={'value':'','team':''},
                     text_auto=True,
#                      height=250,
                     title='Team Score to Par')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

thru_cut_bar.show()

In [ ]:
def remove_T_from_positions(dataframe):
    """
    Remove 'T' from positions in a given column of a DataFrame.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        column_name (str): Name of the column containing positions.

    Returns:
        pandas.DataFrame: DataFrame with 'T' removed from positions in the specified column.
    """
    dataframe['position'] = dataframe['position'].str.replace('T', '')
    return dataframe

def get_inside_cut(dataframe):
    """
    Filter DataFrame based on position threshold and group by team.

    Parameters:
        dataframe (pandas.DataFrame): DataFrame containing the data.
        position_threshold (str): Threshold position for filtering.

    Returns:
        pandas.DataFrame: DataFrame with filtered data grouped by team.
    """
    filtered_data = dataframe[(dataframe['player'] != 0) & (dataframe['position'] != "WAITING")]
    filtered_data = remove_T_from_positions(filtered_data)
    inside_cut_df = filtered_data[filtered_data['position'] < "66"].groupby('team', as_index=False)['player'].count()
    inside_cut_df = inside_cut_df.sort_values(by='player', ascending=False).reset_index(drop=True)
    return inside_cut_df

# Example usage:
# inside_cut_df = get_inside_cut(live_merged)
# inside_cut_df

In [ ]:
live_merged = live_merged[(live_merged['player'] != 0) & (live_merged['position'] != "WAITING")]
live_merged = remove_T_from_positions(live_merged)
live_merged['position'] = live_merged['position'].astype('int')
# inside_cut_df = live_merged[live_merged['position'] < 66]#.groupby('team', as_index=False)['player'].count()
# # inside_cut_df = inside_cut_df.sort_values(by='player', ascending=False).reset_index(drop=True)
# inside_cut_df#.info()

In [ ]:
inside_cut_df = pd.DataFrame(live_merged[live_merged['position'] < 66].team.value_counts()).reset_index()
inside_cut_df.columns = ['team','inside_cut']
inside_cut_df

In [ ]:
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.player != 0) & (live_leaderboard.position != "WAITING")]
filtered_live_leaderboard['position'] = filtered_live_leaderboard['position'].str.replace('T', '')
inside_cut_df = filtered_live_leaderboard[filtered_live_leaderboard.position < "66"].groupby('team',as_index=False)['player'].count()
inside_cut_df = inside_cut_df.sort_values(by = 'player',ascending=False).reset_index(drop=True)
inside_cut_df

In [ ]:
team_color={
                "Philly919": 'rgb(127,60,141)',
                "unit_cirle": 'rgb(17,165,121)',
                "AlphaWired": 'rgb(57,105,172)',
                "Sneads Foot": 'rgb(242,183,1)',
                "New Team 4": 'rgb(231,63,116)',
                "Team Gamble": 'rgb(230,131,16)',
                "txmoonshine": 'rgb(0,134,139)',
                "Putt Pirates": 'rgb(165,170,153)'}

In [ ]:
inside_cut_bar = px.bar(
    inside_cut_df,
    x='team',
    y='player',
    text_auto=True,
    template='plotly_dark',
    color='team',
    color_discrete_map=team_color,
    labels = {'player':'','team':''},
    title = 'Players Currently Inside Cutline',
    height = 250,
    log_y=True
).update_xaxes(showticklabels=False,showgrid=False
).update_yaxes(showticklabels=False,showgrid=False
).update_layout(showlegend=False, title_x = .5)

inside_cut_bar

In [ ]:
# def current_cut_in_out():
# live_leaderboard['current_place'] = live_leaderboard.position.str.split("T",expand=True)[1]
# live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]#.position.str.split("T",expand=True)
filtered_live_leaderboard = live_leaderboard[(live_leaderboard.position != "WAITING") & (live_leaderboard.player != 0)]

position_column = list(filtered_live_leaderboard.position)

filtered_live_leaderboard.apply(position = [pos.replace('T', '') for pos in position_column])

In [ ]:
# Thru Cut Bar

thru_cut_df = live_leaderboard[live_leaderboard.position!='CUT']['team'].value_counts()#.rename(columns={'team':'thruCut'})

thru_cut_bar = px.bar(thru_cut_df,
                 template='presentation',
                 labels={'value':'','index':''},
                 text_auto=True,
                 height=250,
                 log_y=True,
                 title='Players Thru the Cut')

thru_cut_bar.update_layout(showlegend=False,title_x=.25)
thru_cut_bar.update_yaxes(showticklabels=False,showgrid=False)
thru_cut_bar.update_traces(marker_color='rgb(200,200,200)',marker_line_width=1.5, opacity=0.6)

In [ ]:
print(f"unit_circle has {live_merged[live_merged.team=='unit_circle']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='unit_circle'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Philly919 has {live_merged[live_merged.team=='Philly919']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Philly919'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"Team Gamble has {live_merged[live_merged.team=='Team Gamble']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='Team Gamble'].drop(columns=['holes_remaining','team'])

In [ ]:
# live look at all 48 active players with player as index

print(f"New Team 4 has {live_merged[live_merged.team=='New Team 4']['holes_remaining'].sum()} Holes Remaining")
live_merged[live_merged.team=='New Team 4'].drop(columns=['holes_remaining','team'])

In [ ]:
unit_circle = teams.loc[(teams.team=='unit_circle') & (teams.active_reserve=='Active')].index

live['thru_hp'] = live['thru'] + 18

# live[live.player.isin([unit_circle])]#[['player','total','round','thru','thru_hp']].reset_index(drop=True)

In [ ]:
def get_active_rosters(teams):
    active_rosters = []
    
    for team in teams.team.unique():
        one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
        active_rosters.append(one_roster)
        
    cols = teams.team.unique()
    active_rosters = pd.DataFrame(active_rosters, index=cols).T
    return active_rosters

In [ ]:
get_active_rosters(teams)

In [ ]:
active_rosters = []

for team in teams.team.unique():
    one_roster = teams.loc[(teams.team==team) & (teams.active_reserve=='Active')].index
    active_rosters.append(one_roster)

cols = teams.team.unique()
active_rosters = pd.DataFrame(active_rosters, index=cols).T
active_rosters